<div class = "jumbotron">
	<h2>Join Tasker!</h2>
	<br>
	<h4>Online Free Management Tool!</h4>
	<br>
	<p>Tasker is a free online managment tool used by thousands of people. Become a member too!</p>
	<br>

	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-danger" %>
</div>