<div class = "col-md-10 col-md-offset-1">
	<h2><%= @task.title %></h2>
	<p><%= @task.description %></h2>

	<div class = "col-md-4 col-md-offset-4">
		<%= link_to "Go Back!", root_path %>
		<%= link_to "Edit" %>

	</div>
</div>
